#jumbotron{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url(../images/conf.jpeg) no-repeat center / cover;
    padding-top: 120px;
    padding-bottom: 120px;
}

#esperti{
    padding-top: 60px;
}

#esperti .card-body{
    height: 20em;
    background-color:rgba(128, 128, 128, 0.283);
}
.carousel-item>img{
 height: 300px;
}
body{
    background: url(../images/fabio-oyXis2kALVg-unsplash.jpg);
    background-size:contain;
    background-repeat: repeat;
    background-position:center;
}
